In [3]:
import pandas as pd

In [8]:
headers = ['R', 'temperature', 'cough_severity', 'difficult_breathing', 'exposure_risk', 'days_since_onset']

In [26]:
rows = [
    (1, 101.2, 3, None, 1, 15), 
    (1, None, 1, 0, 1, 7), 
    (0, 98.5, 1, 0, 1, 0), 
    (1, 99.0, 1, 0, 1, None), 
    (0, 98.5, None, 0, 0, 21), 
    (1, 99.0, 1, 0, 1, 10), 
    (0, None, 1, 0, 1, 5), 
    (0, 98.2, 2, 1, None, 4)]

In [27]:
df = pd.DataFrame(rows, columns=headers)

In [28]:
df

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1,101.2,3.0,NaN,1.0,15.0
1,1,NaN,1.0,0.0,1.0,7.0
2,0,98.5,1.0,0.0,1.0,0.0
3,1,99.0,1.0,0.0,1.0,NaN
4,0,98.5,NaN,0.0,0.0,21.0
5,1,99.0,1.0,0.0,1.0,10.0
6,0,NaN,1.0,0.0,1.0,5.0
7,0,98.2,2.0,1.0,NaN,4.0

In [29]:
#https://scikit-learn.org/stable/modules/impute.html#impute

In [45]:
from sklearn.impute import SimpleImputer
import numpy as np
nan = np.nan

imp = SimpleImputer(missing_values=np.nan, strategy='mean')

imp.fit(df[1:])

print(imp.transform(df[1:]))

[[ 1.         98.64        1.          0.          1.          7.        ]
 [ 0.         98.5         1.          0.          1.          0.        ]
 [ 1.         99.          1.          0.          1.          7.83333333]
 [ 0.         98.5         1.16666667  0.          0.         21.        ]
 [ 1.         99.          1.          0.          1.         10.        ]
 [ 0.         98.64        1.          0.          1.          5.        ]
 [ 0.         98.2         2.          1.          0.83333333  4.        ]]

In [47]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2, weights="uniform")
print(imputer.fit_transform(df[1:]))

[[ 1.  99.   1.   0.   1.   7. ]
 [ 0.  98.5  1.   0.   1.   0. ]
 [ 1.  99.   1.   0.   1.   8.5]
 [ 0.  98.5  1.   0.   0.  21. ]
 [ 1.  99.   1.   0.   1.  10. ]
 [ 0.  98.6  1.   0.   1.   5. ]
 [ 0.  98.2  2.   1.   1.   4. ]]